
@charset "UTF-8";
/* CSS Document */



/**** For Login page background ***/
.bg_loginscreen{
    width: 320px;
    background: url(../images/login_bg.jpg) #1a75d1 no-repeat 0 0;
}

/* HD/Retina CSS */
@media
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min--moz-device-pixel-ratio: 1.25),
only screen and ( -o-min-device-pixel-ratio: 1.25/1),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx)
{
    .bg_loginscreen{
        background: url(../images/login_bg.jpg) #1a75d1 no-repeat 0 0;
        background-size: 320px; /* Equal to normal logo width */
    }
}


.login-elements {
    padding: 75px 0px 0px 0px;
}

/**** For User jobs listview ***/
/*iPhone < 5:*/
@media screen and (device-aspect-ratio: 2/3) {
    #completedJobs {
        height:250px;
    }
    #runningJobs {
        height: 250px;
    }
    #scroll-content{
        height:230px;
    }
}

/*iPhone 5:*/
@media screen and (device-aspect-ratio: 40/71) {
    #completedJobs {
        height:310px;
    }
    #runningJobs {
        height: 320px;
    }
    #scroll-content{
        height:310px;
    }
    
/*    .ui-page*/
/*    {*/
/*        width: 100% !important;*/
/*        margin: 0 auto !important;*/
/*        position: relative !important;*/
/*    }*/
/*}*/

/*iPhone 6:*/
@media screen and (device-aspect-ratio: 667/375) {
    #completedJobs {
        height:310px;
    }
    #runningJobs {
        height: 320px;
    }
    #scroll-content{
        height:310px;
    }
}

/*iPhone 6 Plus:*/
 @media screen and (device-aspect-ratio: 16/9) {
     #completedJobs {
         height:340px;
     }
     #runningJobs {
         height: 340px;
     }
     #scroll-content{   
         height:340px;
     }
 }



