@charset "UTF-8";
/* CSS Document */


.welcome {
    font-size:12px;
    padding: 5px 0px 0px 0px;
    color:#1a75d1;
    font-weight:bold;
    text-align:left;
    width:75%;
    float:left;
}

div.ui-input #submitButton  {
    
    color:#1a75d1;
    width: 80% !important;
}

#joblists {
    
    padding:0px 0px 0px 0px;
    float:left;
    width:100%;
}



.ui-header a{
    color: #000000;
}
.ui-header h1 {
    color: white !important;
    text-shadow: none;
    border:none;
    font-weight:bold !important;
    font-size: 18px !important;
    
}

/* To change the login form textfield width */

div.ui-input-text {
    width: 80% !important;
    margin: 0% 10% !important;
}

div.ui-input-btn {
    width: 40% !important;
    color: #1a75d1 !important;
    font-weight: bold !important;
    float: right !important;
    text-align:center !important;
    margin-right: 10% !important;
}

#run.ui-btn, #comp.ui-btn {
    background:none !important;
    text-shadow: none;
    font-weight: bold;
    text-align:center;
}

#run.ui-btn-active, #comp.ui-btn-active {
    background:#1a75d1 !important;
    font-weight: bold !important;
    text-align:center;
    border:none;
    text-shadow:none;
    box-shadow:none;
    border-bottom:2px solid #1a75d1;
}
.refresh {
    text-align:left;
    width:25%;
    font-size:12px;
    float:left;
    height: 15px;
}


#jobDetials_elements {
    width: 100%;
    padding: 0px 0px 0px 0px;
    height: 40px;
}

#jobdetails_left {
    float: left;
/*    width: 65%;*/
width: 100%
}


#caseID_Jobdetails {
/*    float:left;*/
    color: #1a75d1;
    font-size:14px;
    word-wrap: break-word;
/*    height: 25px;*/
    height: 50px;
    line-height: 20px;

}

#jobdetails_right {
    float: left;
    width: 35%;
}

#refresh_jd {
    text-align:left;
    font-size:13px;
    float:right;
    color: black;
    margin-top: -10px;
}

#refresh_jd a {
    
/*    padding: 2px 2px;*/

}



#status_jd {
    height: 15px;
    float: right;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    background-color:#E3B734;
    color: black;
    padding: 5px 10px 8px 10px;;
}

#customButton {
    background: #1a75d1;
    color: white;
    font-weight: none;
}

#appButtons {
    width: 100%;
    bottom: 50px;
    position: fixed;
    padding: 0px 0px;
    margin: 0px 0px;
    
    

    
}


#homeButton {
    
    background: gray;
    text-align: center;
    height: 44px;
    width: 100%;
    color: white;
    line-height: 44px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    position: fixed;
    bottom: 30px;
    
}


#custom_bottom_bar_ios7 {
    width: 100%;
    height:auto;
    bottom:0px;
    position:fixed;
    background:#E6E3E3;
    border-top:1px solid #b2b2b2;
    text-align:center;
    padding: 10px;
    margin-left: -15px;
}

#custom_home_button_ios7 {
    height: 24px;
    color:#1a75d1;
    font-weight:bold;
    font-size:20px;
    text-decoration:none;
    line-height: 24px;
    margin-left: -30px;
}


.scroll-wrapper {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    /* important:  dimensions or positioning here! */
}

.scroll-wrapper iframe {
    height: 400px;
    width: 400px;
    border: 0px solid black;
    overflow: scroll;
}
/*
#scroll-content{
    
    height:250px;
}


#completedJobs {
 
 height: 280px;
}

#runningJobs {
    
    height: 280px;
}
*/

#timeStamp {
    
    color:gray;
    font-size:8px;
    float:right;
    padding: 0px 0px 0px 5px;
    margin: -10px 0px 5px 0px;
    text-align: right;
    
}


#statusDoneColor {
    
    color: white;
    width: 100px;
    height: 20px;
    text-align: center;
    display: block;
    background: #006400;
    font-weight: normal;
    padding: 5px 0px 3px 0px;
    margin: 5px 0px 0px 0px;
    font-size:12px;
}

#statusRunningColor {
    
    color: white;
    width: 100px;
    height: 20px;
    text-align: center;
    display: block;
    background: #cc6600;
    font-weight: normal;
    padding: 5px 0px 3px 0px;
    margin: 5px 0px 0px 0px;
    font-size:12px;
}

#statusUndefinedColor {
    
    color: white;
    width: 100px;
    height: 20px;
    text-align: center;
    display: block;
    background: #345270;
    font-weight: normal;
    padding: 5px 0px 3px 0px;
    margin: 5px 0px 0px 0px;
    font-size:12px;

}






